
<p class="title">Задачи</p>

<div class="col-sm-12">
  <div class="row">

    <div class="col-sm-5 block">

      <div class="statistic">
        <p class="clearfix">
          <span class="statistic-title float-left">8 заданий выполнено из 10</span>
          <span class="float-right">Показывать: Эта неделя</span>
        </p>
        <progressbar [value]="55"></progressbar>
      </div>

      <app-task *ngFor="let task of activeTasks$ | async" [task]="task" (change)="reload()" [active]="true"></app-task>

    </div>
    <div class="col-sm-5 block">

      <app-task *ngFor="let task of completedTasks$ | async" [task]="task" (change)="reload()" [active]="false"></app-task>

    </div>
  
  </div>
</div>