
<p class="title">Задачи</p>

<div class="col-sm-12">
  <div class="row">

    <div class="col-sm-5 block">

      <div class="statistic">
        <p class="clearfix">
          <span class="statistic-title float-left">{{ completedCount }} заданий выполнено из {{ activeCount + completedCount }}</span>
          <span class="float-right">Показывать: Эта неделя</span>
        </p>
        <progressbar [value]="activeCount / (activeCount + completedCount)"></progressbar>
      </div>

      <app-task *ngFor="let task of activeTasks$ | async; trackBy: trackByFn" 
        [task]="task" (change)="reload()" [active]="true"></app-task>

    </div>
    <div class="col-sm-5 block">

      <app-task *ngFor="let task of completedTasks$ | async; trackBy: trackByFn" 
        [task]="task" (change)="reload()" [active]="false"></app-task>

    </div>
  
  </div>
</div>