<div class="client">
  <div class="dropdown-toggle no-after fxw-nw peers ai-c lh-1 justify-content-between">

    <div class="peer peers">
      <div class="peer mR-10">
        <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
      </div>
      <div class="peer align-self-center">
        <span class="fsz-sm c-grey-900">Мария Сергеевна Кудряшова</span>
      </div>
    </div>

    <div class="peer">Ипотека: {{ client.prediction.mortgage_chance * 100 | number }}%</div>
    <div class="peer">Потребительский кредит: {{ client.prediction.consumer_credit_chance * 100 | number }}%</div>
    <div class="peer">Кредитная карта: {{ client.prediction.credit_card_chance * 100 | number }}%</div>

    <div class="peer">
      <button class="btn btn-success" (click)="modal.show()">
        Запланировать <i class="fa fa-calendar-plus-o"></i>
      </button>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Новая задача</h4>
        <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Название" formControlName="name">
            <div *ngIf="form.controls.name?.errors && form.controls.name.dirty" class="text-danger small">
              Поле обязательно для заполнения
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="Описание" formControlName="description"></textarea>
          </div>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">Дата:</label>
            <div class="col-sm-11">
              <input type="date" class="form-control" formControlName="date">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">Тип:</label>
            <select class="form-control col-sm-5" placeholder="Описание" formControlName="type">
              <option value="mortgage">Ипотека</option>
              <option value="consumer_credit">Потребительский кредит</option>
              <option value="credit_card">Кредитная карта</option>
            </select>

            <div class="col-sm-3 col-form-label justify-content-between">

              <svg class="phone" [class.selected]="phone" (click)="phone = !phone" width="16" height="16"
                viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.7368 10.5347C13.7499 10.5347 12.7832 10.3806 11.8669 10.0783C11.4198 9.92421 10.912 10.0429 10.6181 10.3427L8.80169 11.7145C6.71748 10.6021 5.38358 9.26906 4.28633 7.20001L5.62106 5.42653C5.95706 5.09053 6.07749 4.59873 5.93349 4.13811C5.62864 3.216 5.4737 2.24842 5.4737 1.26316C5.4737 0.566724 4.90698 0 4.21054 0H1.26316C0.566724 0 0 0.566724 0 1.26316C0 9.38863 6.61137 16 14.7368 16C15.4333 16 16 15.4333 16 14.7368V11.7979C16 11.1015 15.4333 10.5347 14.7368 10.5347Z"
                  fill="#008BFD" />
              </svg>

              <svg class="email" [class.selected]="email" (click)="email = !email" width="16" height="16"
                viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M1.36787 2.114H14.6321C15.3398 2.11497 15.9303 2.65496 15.9943 3.35995L8.88697 9.3878C8.37758 9.82222 7.62806 9.82255 7.11835 9.38845L0.0055055 3.36562C0.0663862 2.65836 0.657868 2.11497 1.36787 2.114ZM1.36787 13.8504C1.06849 13.8507 0.777363 13.7523 0.539669 13.5703L4.50647 9.5128C4.57998 9.4388 4.60815 9.33113 4.5803 9.23074C4.55245 9.13019 4.47295 9.05247 4.37192 9.02689C4.27072 9.0013 4.16369 9.03191 4.09148 9.1072L0.161593 13.1268C0.0553759 12.9288 -0.000161564 12.7074 3.53032e-07 12.4825V4.12145L6.74335 9.83145C7.46938 10.4495 8.53674 10.4492 9.26229 9.83032L16 4.11594V12.4825C16.0003 12.7082 15.9443 12.9304 15.8372 13.1289L11.8839 9.10655C11.7714 8.99321 11.5885 8.99207 11.4746 9.10396C11.3607 9.21601 11.3586 9.39881 11.47 9.51328L15.4587 13.5716C15.2212 13.7528 14.9308 13.8507 14.6321 13.8504H1.36787Z"
                    fill="#8BDDD3" />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>

              <svg class="chat" [class.selected]="chat" (click)="chat = !chat" width="16" height="16"
                viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.10364 1.84892V9.79953H11.9448L16 11.4215V9.79953V1.84892H3.10364Z" fill="#8BDDD3" />
                <path
                  d="M11.8939 10.7322L2.21989 10.7422V5.63352V4.42769H0V12.5039V14.1516L4.11822 12.5039H13.0986V11.2145L11.8939 10.7322Z"
                  fill="#8BDDD3" />
              </svg>

            </div>

          </div>

        </form>

        <div *ngIf="error" class="text-danger">
          Ошибка
        </div>

        <div class="d-flex justify-content-between">

          <button (click)="modal.hide()" class="btn btn-danger">Отмена</button>
          <button (click)="create()" [disabled]="loading" class="btn btn-success">Создать</button>

        </div>

      </div>
    </div>
  </div>
</div>